// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#app {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    width: 100%;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

.full-height {
    height: 100vh;
    // height: 85vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}


.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 50px;
    height: 50px;;
    border-radius: 50%;
    h3 {
        color: white;
        line-height: 53px;
        text-align: center;
    }
}

.avatar.black {
    background: #173F5F;
}

.avatar.blue {
    background: #20639B;
}

.avatar.cyan {
    background: #3CAEA3;
}

.avatar.yellow {
    background: #F6D55C;
}

.avatar.orange {
    background: #ED553b;
}

.avatar.red {
    background: #CA3737;
}

.avatar.green {
    background: #98D656;
}

.player-text.black {
    color: #173F5F;
}

.player-text.blue {
    color: #20639B;
}

.player-text.cyan {
    color: #3CAEA3;
}

.player-text.yellow {
    color: #F6D55C;
}

.player-text.orange {
    color: #ED553b;
}

.player-text.red {
    color: #CA3737;
}

.player-text.green {
    color: #98D656;
}

.card-stage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 350px;
    .card-placeholder {
        width: 100%;
    }
    #card-wrap {
        width: 100%;
        position: relative;
    }
}

